<html>
  <body>
    {% if previous_description %}
    {{ previous_description }}<br/><br/>
    {% endif %}
    <b>KI-Beschreibung fehlgeschlagen - {{ current_time }}</b><br/>Bitte kontaktieren Sie den Systemadministrator für weitere Details.
  </body>
</html>