<html>
  <body>
    {{ current_time }} - KI-Generierung der Beschreibung gestartet ...
    {% if previous_description %}
    <br/><br/>
    {{ previous_description }}
    {% endif %}
  </body>
</html>