<html>
  <body>
    {% if previous_comment %}
    {{ previous_comment }}<br/><br/>
    {% endif %}
    <b>KI-Erklärung fehlgeschlagen - {{ current_time }}</b><br/>Bitte kontaktieren Sie den Systemadministrator für weitere Details.
  </body>
</html>
