<html>
  <body>
    {% if previous_description %}
    {{ previous_description }}<br/><br/>
    {% endif %}
    <b>AI Test Ideas failed - {{ current_time }}</b><br/>Please contact the system administrator for further details.
  </body>
</html>
