<div class="ai-explainer">
  {% if explanation %}{{ explanation }}<br/>{% endif %}
  <div style='padding-top: 5px;'>
    <div style='border-top: 1px solid black; width: 218px; font-size: 10px;'>
      {{ disclaimer }}
    </div>
  </div>
</div>
