<html>
  <body>
    {% if previous_description %}
    {{ previous_description }}<br/><br/>
    {% endif %}
    <b>KI-Testideen fehlgeschlagen - {{ current_time }}</b><br/>Bitte kontaktieren Sie den Systemadministrator für weitere Details.
  </body>
</html>
