<html>
  <body>
    {% if previous_description %}
    {{ previous_description }}<br/><br/>
    {% endif %}
    <b>KI-Testideen - {{ current_time }}</b><br/>
    <div style='white-space: pre-wrap;'>{{ description }}</div>
    <div style='padding-top: 5px;'>
      <div style='border-top: 1px solid black; width: 218px; font-size: 10px;'>
        KI-generierte Antworten können ungenau sein.
      </div>
    </div>
  </body>
</html>
